/* myStyles by Sebrina Higdon, 30 Sept 2022, WEB210 */
/* Resume site for LinkedIn Learning project */

/*global styles
-----------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: white;
    font-family: 'Montserrat', sans-serif;    color: darkslategray;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #efe9e7;
}
a:hover {
    background: gray;
}
h1 {
    font-size: 75px;
    line-height: 1;
}
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}
.content-wrap ul li {
    list-style: none;
}

/*nav
-----------------------------------*/
.nav {   
    background-color: #52154e;
    text-align: left;
    list-style: none;
}
a:link {
text-decoration: none;
    display: inline-block;
  }
.nav ul li {
    font: bold 16px/24px sans-serif;
    display: inline-block;
    position: relative;
    padding: 12px 16px;
    background: #52154e;
    cursor: pointer;
}
.nav ul li:hover {
    background: #555;
    color: #fff;  
}
.nav ul li ul { 
    padding: 0;  
    position: absolute; 
    top: 48px;  
    left: -10000px; 
    width: 150px;
}
.nav ul li ul li {   
    background: #555;    
    display: block; 
    color: #fff;   
}
.nav ul li ul li:hover { 
    background: #666; 
}
.nav ul li:hover ul { 
    display: block; 
    left: 0px; 
}

/*profile
-----------------------------------*/
header {
   background-color: #111344;
   color: white;
}

/*projects
-----------------------------------*/
.projects {
    background-color: #dae0f2;
}
.projects a {
    color: #efe9e7;
    background: #111344;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects a:hover {
    background: rgba(17, 19, 68, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #gray;
    padding: 25px 0;
}
.project-item img {
    float: left;
    margin-right: 20px;
}
.project-item h3 {
    margin-top: 0;
}
.picture {
    width: 24.99999%;
}
@media only screen and (max-width: 750px) {
    .picture {
      width: 49.99999%;
    }
}
  @media only screen and (max-width: 450px) {
    .picture {
      width: 100%;
    }
}
  
  

/*work experience
-----------------------------------*/
.work-experience {
    background-color: #f9cff2;
}
.work-experience a {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/*education
-----------------------------------*/

/*contact info
-----------------------------------*/
footer {
    background-color: #52154e;
    color: white;
    padding: 60px 0;
}
footer a:link {
    text-decoration: none;
  }
